User Name: <input type="text" name="" id="" [(ngModel)]="username" /> <br>

{{username}}
<br>
Color: <input type="text" name="" id="" [(ngModel)]="color" [class]="x"><br>
<p><font [color]="color">This is a paragraph</font></p>

<select name="" id="" [(ngModel)]="color">
    <option>red</option>
    <option>green</option>
    <option>blue</option>
    <option>yellow</option>
    <option>cyan</option>
    <option>silver</option>
    <option>brown</option>
    <option>black</option>
    
</select>
<br>

<input type="checkbox" name="" id="" [(ngModel)]="status"><br>
{{status}}