<form>
    User Name: <input type="text" name="" id="" class="form-control" [value]="username">
    Password: <input type="password" name="" id="" class="form-control" value="password">
    <br>
    <input type="button" value="Login" class="btn btn-success" (click)="fnLogin()">&nbsp;
    <input type="reset" value="Reset" class="btn btn-warning">
</form>
<br>
<p><font [color]="color">This is a paragraph</font></p>
<br>
{{username}}    
<br>
{{username | uppercase}}
<br>
{{password}}
<br>
{{ 20 * 30}}