<div class="jumbotron">
  <h1 class="text-center">Title here</h1>
</div>
<div class="row">
  <div class="col-md-4">
    <app-login color="cyan" title="Typed by parent component">
      I have typed something here
    </app-login>
  </div>
  <div class="col-md-4">
    <app-login color="yellow" title="Login Page">
      this is also typed by me that will be displayed in ng-content directive of child component
    </app-login>
  </div>
  <div class="col-md-4">
    <app-login color="pink" title="This is by parent">
      <h2>this also</h2>
    </app-login>
  </div>
</div>