<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
        <form [formGroup]="airlineForm">
            Id  <input type="number" name="" id="" formControlName="id" class="form-control" />
            Name  <input type="text" name="" id="" formControlName="name" class="form-control" />
            Country  <input type="text" name="" id="" formControlName="country" class="form-control" />
            Logo  <input type="text" name="" id="" formControlName="logo" class="form-control" />
            Slogan  <input type="text" name="" id="" formControlName="slogan" class="form-control" />
            Head Quaters  <input type="text" name="" id="" formControlName="head_quaters" class="form-control" />
            Website  <input type="text" name="" id="" formControlName="website" class="form-control" />
            Established  <input type="number" name="" id="" formControlName="established" class="form-control" />
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>
<br>
<table class="table table-bordered table-striped table-hover" style="width: 100%;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Country</th>
            <th>Logo</th>
            <th>Slogan</th>
            <th>Head Quaters</th>
            <th>Website</th>
            <th>Established</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of airlines">
            <td class="btn btn-outline-primary" (click)="fnSelect(a.id)">{{a.id}}</td>
            <td style="width: 5%;">{{a.name}}</td>
            <td>{{a.country}}</td>
            <td><img width="50" [src]="a.logo" alt=""></td>
            <td>{{a.slogan}}</td>
            <td>{{a.head_quaters}}</td>
            <td>{{a.website}}</td>
            <td>{{a.established}}</td>
        </tr>
    </tbody>
</table>