<form>
    User Name: <input type="text" name="" id="" class="form-control">
    Password: <input type="password" name="" id="" class="form-control">
    Confirm Password: <input type="password" name="" id="" class="form-control">
    First Name: <input type="text" name="" id="" class="form-control" [value]="firstname">
    Last Name: <input type="text" name="" id="" class="form-control" [value]="lastname">
    Email: <input type="email" name="" id="" class="form-control">
    <br>
    <input type="button" value="Sign Up" class="btn btn-success" (click)="fnSignup()">
    &nbsp;  <input type="reset" value="Reset" class="btn btn-warning">
</form>
{{firstname}}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
